
 <center>
    <h3>Crédits</h3>
    <p><span class="cyan">Discord: GalackQSM#7926</span></p>

    <a href='http://twitter.com/Galack_QSM' target='_blank'><img alt="Twitter" src="//1.bp.blogspot.com/-m_CFXPc2_LA/VtOlyXcbAsI/AAAAAAAACkA/XIflNDVDgAo/s000/twitter.png" title="Twitter" /></a>

    <a href='https://www.youtube.com/GalackQSM' target='_blank'><img alt="Youtube" src="https://lh5.googleusercontent.com/proxy/bZxyiQa6GSxL9taF2lTvjLdc5X0FLDwSqv8AI9zxrvAAx70jnctHLYswUY8jMTtk9ToRFRDt4DC1l3pKbn0u4wwpyap4w44_MhXgEXSrqyi80K3L_b8mTcjf_judLdaMAgxYJqjBZOYbOA=s0-d" title="Youtube" /></a>

    <a href='https://discord.gg/XH7zQ8s' target='_blank'><img alt="Discord" src="https://i.imgur.com/cEOBWKu.png" title="Youtube" /></a>

    <a href='mailto:qsmgalack@gmail.com' target='_blank'><img alt="Email" src="//4.bp.blogspot.com/-kt-oOnptPjs/VtOlznQCDKI/AAAAAAAACkU/qkBPRaqtyU0/s000/email.png" title="Email" /></a>

 </center>
	
	
  <title>GalackSpammer - Crédits</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
