<center>

<form action="api/modify" method="post">
<h4><span class="cyan">Retard en ms (1000ms = 1 seconde)</span><h4>
<span class="cyan">ms inférieur = vos tokens seront bannis plus rapidement</span>
    <p><span class="red">Rejoindre le délai</span></p>
    <input type="text" placeholder="500"  value="{{settings.joinDelay}}" name="joinDelay" >
	<p><span class="red">Retard de message</span></p>
    <input type="text" placeholder="1000" value="{{settings.messageDelay}}" name="messageDelay">
    <p><span class="red">Retard aléatoire supplémentaire</span></p>
    <input type="text" placeholder="100" value="{{settings.delayPadding}}" name="delayPadding">
    <br><br>
    <input type="submit" value="Enregistrer">
    <p><span class="green">N'oubliez pas de cliquer sur Enregistrer</span></p>
</form>
</center>
<title>GalackSpammer - Paramètres</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
