 <center>
<iframe width="1050" height="530" src="https://www.discordl.org/"></iframe>
	 </center>

	
  <title>GalackSpammer - Serveur Discord</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
