<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <Thread_UseAllCpuGroups enabled="true"/>
    <GCCpuGroup enabled="true"/>
    <gcServer enabled="true"/>
  </runtime>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2147483647"/>
    </connectionManagement>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"  />
    </settings>
   
  </system.net>
</configuration>
